.btn-success :hover{
    background-color: red;
    border: 3px black dashed;

}
.btn-success:hover{
background-color: red;}
canvas{
    animation-name: animationname;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes animationname{
    from{box-shadow: 1px 1px 38px bisque;}
    to{box-shadow: 1px 1px 38px coral;}
}
body{
    background-position: center;
    background-size: cover;
}